
//
// Adressen
//
.adresse
  position: absolute
  left: page-margin
  width: 85mm
  margin: 0
  font-style: normal

.sender
  display: flex
  justify-content: space-between
  top: 27mm
  height: 5mm
  padding: 0 2mm
  border-bottom: 1pt solid #999
  font-size: 8pt
  line-height: @height
  text-align: center

  span
    padding: 0 .4em

.recipient
  top: 32mm
  height: 40mm
  padding: 3mm 2mm
