
//
// Inhalt
//
.content
  position: absolute
  top: 80mm
  left: page-margin
  right: page-margin

  p
    margin-bottom: 1em

.subject
  max-width: 110mm
  margin: 0
  font-size: inherit
  font-weight: bold

.salutation
  margin-top: 3em

.name
  display: block
  margin-top: 5em
