
//
// the footnotes with contact data and bank details
//

footer
  position: absolute
  bottom: page-margin
  right: page-margin

.footnotes
  margin: 0
  padding: 0

.footnote
  display: inline-block
  list-style: none
  vertical-align: top

  &:nth-child(1)
    width: 25mm

  &:nth-child(2)
    width: 30mm
    margin-left: 7mm

  &:nth-child(3)
    width: 43mm
    margin-left: 7mm

  > p
  > h2
    margin: 0
    font-size: 8pt
    line-height: 1.4

  > h2
    font-weight: bold
    text-transform: none
