//
// Page marker
//
.marker
  position: absolute
  right: auto
  left: 0
  height: 1pt
  margin: 0
  border: 0
  background: #000

.marker--first_bend
  top: (page-height / 3)
  width: (marker-width / 2)

.marker--half_page
  top: (page-height / 2)
  width: marker-width

.marker--second_bend
  top: (page-height / 3 * 2)
  width: (marker-width / 2)
